@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">SportsPro Techical Support</h1>
    <p>Sports management software for the sports enthusiast</p>
</div>

<div>
    <h2>Admin</h2>
  <table class="table">
  <tbody>
    <tr>
      <td>Manage Products</td>
      <td>Manage Technicians</td>
      <td>Manage Customers</td>
      <td>Manage Incidents</td>
      <td>Manage Registrations</td>
    </tr>
  </tbody>
</table>
</div>

<div>
    <h2>Technicians</h2>
    <table class="table">
  <tbody>
    <tr>
      <td>Update Incident</td>
    </tr>
  </tbody>
</table>
</div>